@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body {
    background-color: white;
}

.btn {
	background-color: white;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	padding:10px 20px;
	text-decoration:none;
}


.btn:hover {
    background-color: inherit;
    color: white;

}
h1 {
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 20%;

}
p {
    font-family: 'Big Shoulders Display', cursive;
    line-height: 1.6;
    opacity: 0.6;
    padding-bottom: 40px;
    
}
.container {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 20% auto;
    width: 80%;
    color: white;
    
}

.card {
    padding: 15% 20%;
}

.card-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}

.card-2 {
    background-color: hsl(184, 100%, 22%);
}

.card-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}
